### Top&Bottom Mappings

In [13]:
category_dict = {
    "top":      1,
    "bottom":   2, 
    "shoes":    3,
    "onepiece": 4   # ignored in the MVP version
}

formality_dict = {
    "formality":3,
    "casual":2, 
    "sport":1
}

weather_dict = {
    "cold":3,
    "sunny":2, 
    "rainny":1
}

type_dict = {    # category, formality, weather
"Anorak" :        (1, 1, 3),
"Blazer":         (1, 3, 2),
"Blouse":         (1, 2, 2),
"Bomber" :        (1, 2, 3),
"Button-Down":    (1, 2, 2 ),
"Cardigan" :      (1, 2, 3),
"Flannel" :       (1, 2, 3),
"Halter":         (1,2,2),
"Henley" :        (1, 2,3),
"Hoodie" :        (1, 2, 3),
"Jacket" :        (1, 2, 3),
"Jersey"  :       (1, 1, 2),
"Parka"   :       (1,2,3),
"Peacoat" :       (1,3,3),
"Poncho" :        (1,2,3),
"Sweater"  :      (1,2,3),
"Tank" :          (1,3,2),
"Tee" :           (1,2,2),
"Top"  :          (1,2,2),
"Turtleneck" :    (1,3,3),
"Capris" :        (2,2,2),
"Chinos"  :       (2,2,2),
"Culottes"  :     (2,2,2),
"Cutoffs" :       (2,2,2),
"Gauchos"  :      (2,2,2),
"Jeans" :         (2,2,2),
"Jeggings" :      (2,2,2),
"Jodhpurs"  :     (2,1,2),
"Joggers"  :      (2,1,3),
"Leggings"  :     (2,1,2),
"Sarong"  :       (2,2,2),
"Shorts"  :       (2,2,2),
"Skirt"   :       (2, 2,2),
"Sweatpants" :    (2, 1, 3),
"Sweatshorts" :   (2, 1, 2 ),
"Trunks"       :  (2, 1, 2),
"Caftan"       :  (4,3,2),
"Cape"         :  (4,3,3),
"Coat"         :  (4, 3, 3),
"Coverup"      :  (4, 2, 2),
"Dress"        :  (4, 2, 2),
"Jumpsuit"     :  (4, 2, 2),
"Kaftan"        : (4, 3, 2),
"Kimono"         :(4, 3, 2),
"Nightdress"     :(4, 2, 2),
"Onesie"         :(4, 2, 2),
"Robe"           :(4, 2, 2),
"Romper"       :  (4, 2, 2),
"Shirtdress"    : (4, 2, 2),
"Sundress"     :  (4, 2, 2),
"boots":(3, 2, 3) ,
"flip_flops":(3, 2, 3),
"loafers":(3, 3, 2),
"sandals":(3, 2, 2),
"sneakers":(3, 2, 2),
"soccer_shoes":(3,1,2)}

### Weather/Formality Combinations

In [18]:
type_test = ["top","bottom", "shoes"]
f_test = ["formality","casual", "sport"]
w_test = ["cold","sunny", "rainny"]
filters = list(itertools.product(type_test, f_test, w_test))
filters

[('top', 'formality', 'cold'),
 ('top', 'formality', 'sunny'),
 ('top', 'formality', 'rainny'),
 ('top', 'casual', 'cold'),
 ('top', 'casual', 'sunny'),
 ('top', 'casual', 'rainny'),
 ('top', 'sport', 'cold'),
 ('top', 'sport', 'sunny'),
 ('top', 'sport', 'rainny'),
 ('bottom', 'formality', 'cold'),
 ('bottom', 'formality', 'sunny'),
 ('bottom', 'formality', 'rainny'),
 ('bottom', 'casual', 'cold'),
 ('bottom', 'casual', 'sunny'),
 ('bottom', 'casual', 'rainny'),
 ('bottom', 'sport', 'cold'),
 ('bottom', 'sport', 'sunny'),
 ('bottom', 'sport', 'rainny'),
 ('shoes', 'formality', 'cold'),
 ('shoes', 'formality', 'sunny'),
 ('shoes', 'formality', 'rainny'),
 ('shoes', 'casual', 'cold'),
 ('shoes', 'casual', 'sunny'),
 ('shoes', 'casual', 'rainny'),
 ('shoes', 'sport', 'cold'),
 ('shoes', 'sport', 'sunny'),
 ('shoes', 'sport', 'rainny')]

In [15]:
import itertools
import numpy as np

rate = ["1","2", "3", "4", "5"]
formality = ["formality","casual", "sport"]
weather = ["cold","sunny", "rainny"]
filters = list(itertools.product(formality, weather))
filters

[('formality', 'cold'),
 ('formality', 'sunny'),
 ('formality', 'rainny'),
 ('casual', 'cold'),
 ('casual', 'sunny'),
 ('casual', 'rainny'),
 ('sport', 'cold'),
 ('sport', 'sunny'),
 ('sport', 'rainny')]

### User's Top&Bottom Combinations

In [7]:
import pandas as pd
df = pd.read_csv("/home/repos/hack/FastFit_AI/mockups/garment.csv")
df.head(10)

,id,user_id,img_path,garment_type,garment_category,formality,weather
0,1,1,http://dummyimage.com/100x100.png/cc0000/ffffff,1,1,1,1
1,2,2,http://dummyimage.com/100x100.png/dddddd/000000,2,2,2,2
2,3,3,http://dummyimage.com/100x100.png/cc0000/ffffff,3,3,3,3
3,4,4,http://dummyimage.com/100x100.png/5fa2dd/ffffff,4,4,1,1
4,5,5,http://dummyimage.com/100x100.png/ff4444/ffffff,5,1,2,2
5,6,1,http://dummyimage.com/100x100.png/dddddd/000000,6,2,3,3
6,7,2,http://dummyimage.com/100x100.png/ff4444/ffffff,7,3,1,1
7,8,3,http://dummyimage.com/100x100.png/ff4444/ffffff,8,4,2,2
8,9,4,http://dummyimage.com/100x100.png/cc0000/ffffff,9,1,3,3
9,10,5,http://dummyimage.com/100x100.png/dddddd/000000,10,2,1,1

In [16]:
user_id = 1
user_closet = df[(df["garment_type"]!=4)] #df[(df["id"]==user_id) & (df["id"]==user_id)]

outfit = pd.DataFrame()
for formality, weather in filters:
    closet_filtered = user_closet[(user_closet["formality"] == formality_dict[formality])&(user_closet["weather"] == weather_dict[weather])]
    print(formality, weather, len(closet_filtered))
    top = list(closet_filtered[closet_filtered["garment_type"]== 1]["id"].unique())
    bottom = list(closet_filtered[closet_filtered["garment_type"]== 2]["id"].unique())
    shoes = list(closet_filtered[closet_filtered["garment_type"]== 3]["id"].unique())
    current = pd.DataFrame(list(itertools.product(top, bottom, shoes)), columns=['top', 'bottom', 'shoes'])
    current["formality"] =  formality
    current["weather"] =  weather
    outfit = pd.concat([outfit,current ])

outfit['user_rate'] = np.random.choice(list(rate), len(outfit))
outfit

formality cold 326
formality sunny 0
formality rainny 0
casual cold 0
casual sunny 327
casual rainny 0
sport cold 0
sport sunny 0
sport rainny 327

     top bottom shoes  formality weather user_rate
0     51    102     3  formality    cold         4
1     51    102   153  formality    cold         3
2     51    102   303  formality    cold         1
3     51    102   453  formality    cold         2
4     51    102   603  formality    cold         1
..   ...    ...   ...        ...     ...       ...
289  901    952   253      sport  rainny         5
290  901    952   403      sport  rainny         3
291  901    952   553      sport  rainny         5
292  901    952   703      sport  rainny         4
293  901    952   853      sport  rainny         1

[882 rows x 6 columns]

In [6]:

user_top = df[df["garment_type"]==1]
user_bottom = df[df["garment_type"]==2]